@use '../../../styles/variables';

.label {
  box-sizing: border-box;

  font-family: system-ui, sans-serif;
  font-size: inherit;
  color: variables.$col-text;

  &:hover {
    cursor: pointer;
  }

  &__label_isDisabled {
    color: variables.$col-text_disabled;
  }

  &__label_isDisabled:hover {
    cursor: not-allowed;
  }

  &__label_hasError {
    color: variables.$col-error
  }
}
