// General

$font-size: var(--pm-lrf__font-size);

$border-radius: var(--pm-lrf__border-radius);

$transition: transform 0.1s ease-in 25ms;

$col-error: var(--pm-lrf__col-error);
$col-text: var(--pm-lrf__col-text);
$col-text_disabled: var(--pm-lrf__col-text_disabled);
$col-placeholder: var(--pm-lrf__col-placeholder);
$col-border: var(--pm-lrf__col-border);
$col-border_error: $col-error;
$col-border_focus: var(--pm-lrf__col-border_focus);
$col-border_disabled: var(--pm-lrf__col-border_disabled);
$col-bg: var(--pm-lrf__col-bg);
$col-bg_error: var(--pm-lrf__col-bg_error);
$col-bg_focus: var(--pm-lrf__col-bg_focus);
$col-bg_disabled: var(--pm-lrf__col-bg_disabled);

// Element-Specific

$label-color: var(--pm-lrf__label-color);
$label-fw: var(--pm-lrf__label-fw);
$label-mb: var(--pm-lrf__label-mb);

$checkbox-size: var(--pm-lrf__checkbox-size);
$checkbox-border-radius: var(--pm-lrf__checkbox-border-radius);

$textInput-padding: var(--pm-lrf__textInput-padding);

$wrap-mt: var(--pm-lrf__wrap-mt);

$error-mt: var(--pm-lrf__error-mt);
