:root {
  --pm-lrf__font-size: 16px;
  --pm-lrf__border-radius: 10px;
  --pm-lrf__col-error: #ff0000;
  --pm-lrf__col-text: #C9CDE2;
  --pm-lrf__col-text_disabled: #ceb7fd;
  --pm-lrf__col-placeholder: #b593fb;
  --pm-lrf__col-border: #9A6BFD;
  --pm-lrf__col-border_focus: #C9CDE2;
  --pm-lrf__col-border_disabled: #652ED7;
  --pm-lrf__col-bg: #7B47E8;
  --pm-lrf__col-bg_error: #7e1d6f;
  --pm-lrf__col-bg_focus: #4A13BC;
  --pm-lrf__col-bg_disabled: #652ED7;
  --pm-lrf__label-color: #C9CDE2;
  --pm-lrf__label-fw: 400;
  --pm-lrf__label-mb: 0.512em;
  --pm-lrf__textInput-padding: 0.41em 0.512em;
  --pm-lrf__wrap-mt: 1em;
  --pm-lrf__error-mt: 0.262em;
}

// General

$font-size: var(--pm-lrf__font-size);

$border-radius: var(--pm-lrf__border-radius);

$col-error: var(--pm-lrf__col-error);
$col-text: var(--pm-lrf__col-text);
$col-text_disabled: var(--pm-lrf__col-text_disabled);
$col-placeholder: var(--pm-lrf__col-placeholder);
$col-border: var(--pm-lrf__col-border);
$col-border_error: $col-error;
$col-border_focus: var(--pm-lrf__col-border_focus);
$col-border_disabled: var(--pm-lrf__col-border_disabled);
$col-bg: var(--pm-lrf__col-bg);
$col-bg_error: var(--pm-lrf__col-bg_error);
$col-bg_focus: var(--pm-lrf__col-bg_focus);
$col-bg_disabled: var(--pm-lrf__col-bg_disabled);

// Element-Specific

$label-color: var(--pm-lrf__label-color);
$label-fw: var(--pm-lrf__label-fw);
$label-mb: var(--pm-lrf__label-mb);

$textInput-padding: var(--pm-lrf__textInput-padding);

$wrap-mt: var(--pm-lrf__wrap-mt);

$error-mt: var(--pm-lrf__error-mt);
