:root {
    --pm-lrf__font-size: 16px;
    --pm-lrf__border-radius: 10px;
    --pm-lrf__col-error: #ff0000;
    --pm-lrf__col-text: #4A13BC; //#C9CDE2;
    --pm-lrf__col-text_disabled: #d5bfff; //#e9dfff;
    --pm-lrf__col-placeholder: #7B47E8; //#b593fb;
    --pm-lrf__col-border: #b593fb; //#9A6BFD;
    --pm-lrf__col-border_focus: #4A13BC; //#C9CDE2;
    --pm-lrf__col-border_disabled: #e9dfff; //#652ED7;
    --pm-lrf__col-bg: #d5bfff; //#7B47E8;
    --pm-lrf__col-bg_error: #ffc8d6;
    --pm-lrf__col-bg_focus: #C9CDE2; //#4A13BC;
    --pm-lrf__col-bg_disabled: #e9dfff; //#652ED7;
    --pm-lrf__label-color: #4A13BC; //#C9CDE2;
    --pm-lrf__label-fw: 400;
    --pm-lrf__label-mb: 0.512em;
    --pm-lrf__checkbox-size: 1.26em;
    --pm-lrf__checkbox-border-radius: 0.15em;
    --pm-lrf__radio-size: 1.26em;
    --pm-lrf__textInput-padding: 0.41em 0.512em;
    --pm-lrf__wrap-mt: 1em;
    --pm-lrf__error-mt: 0.262em;
}
