@use "sass:math";
@use '../../../styles/variables';

.radio {
  &__input {
    box-sizing: border-box;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: variables.$col-bg;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: variables.$col-text;
    //min-width: variables.$radio-size;
    //height: variables.$radio-size;
    min-width: variables.$radio-size;
    height: variables.$radio-size;
    border: .15em solid variables.$col-bg;
    border-radius: 50%;
    // So the input stays horizontally centered in relation to the first line of the label text.
    // half the size of the applied border
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  &__input::before {
    color: variables.$col-text;
    content: "";
    width: calc(#{variables.$radio-size} / 2);
    height: calc(#{variables.$radio-size} / 2);
    border-radius: 50%;
    transform: scale(0);
    transition: variables.$transition;
    box-shadow: inset 1em 1em currentColor;

    /* Windows High Contrast Mode */
    //background-color: CanvasText;
  }

  &__input:checked::before {
    transform: scale(1.3);
  }

  &__input:focus {
    outline: variables.$checked-focus-outline;
    outline-offset: variables.$checked-focus-outline-offset;
  }

  &__input_disabled {
    border-color: variables.$col-border_disabled;
    background-color: variables.$col-border_disabled;
  }

  &__input_disabled::before {
    color: variables.$col-text_disabled;
  }

  &__input_disabled:hover {
    cursor: not-allowed;
  }

  &__input_hasError {
    border-color: variables.$col-border_error;
    background-color: variables.$col-border_error;
  }
}
